---
import { Image } from "astro:assets";
import { slugify } from "../js/helpers";

const { post } = Astro.props;
const { title, summary, category, imageSrc, imageAlt } = post.data;
---

<article class="shadow">
  <div class="card-img-container">
    <a href={`/post/${post.slug}/`}>
      <Image src={imageSrc} alt={imageAlt} class="card-img" />
    </a>
  </div>
  <div class="card-content">
    <a href={`/post/category/${slugify(category)}`} class="card-category"
      >{category.toUpperCase()}</a
    >

    <h2 class="heading">
      <a href={`/post/${post.slug}/`}>{title}</a>
    </h2>

    <p>
      {summary}
    </p>
  </div>
</article>

<style lang="scss">
  article {
    border-radius: 0.25em;
  }

  .card-img-container {
    overflow: hidden;
    height: 15em;
  }

  .card-img {
    height: 100%;
    width: 100%;
  }

  .card-content {
    padding: 1em 1em 1.5em;
  }

  .card-category {
    display: block;
    margin-block-end: 1em;
    font-size: 0.9rem;
    line-height: 1.25;
    font-weight: 700;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    color: #581c87;
    letter-spacing: 0.05em;
  }

  h2 {
    font-size: var(--fs-4);
    line-height: 1.2;
    margin-block-end: 0.75em;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.4;
  }
</style>
