---
import BaseLayout from "./BaseLayout.astro";
import { slugify } from "../js/helpers";
import { Image } from "astro:assets";
import Date from "../components/Date.astro";

export interface props {
  title: string;
  description: string;
  pubDate: string;
  category: string;
  imageSrc: string;
  imageAlt: string;
}

const { title, description, pubDate, category, imageSrc, imageAlt } =
  Astro.props;
---

<BaseLayout {title} {description}>
  <article>
    <div class="article-head">
      <a href={`/category/${slugify(category)}`} class="article-head-category"
        >{category}</a
      >
      <h1>{title}</h1>

      <Date {pubDate} />
      <Image
        src={imageSrc}
        alt={imageAlt}
        width={900}
        quality="high"
        class="shadow"
      />
    </div>
    <div class="prose">
      <slot />
    </div>
  </article>
</BaseLayout>

<style lang="scss">
  article {
    max-width: 900px;
    margin-inline: auto;
    padding-block: 3em;

    .article-head {
      .article-head-category {
        display: block;
        margin-block-end: 1em;
        font-size: var(--fs-3);
        line-height: 1.25;
        font-weight: 700;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        color: #581c87;
        letter-spacing: 0.05em;
      }

      h1 {
        font-size: var(--fs-6);
        margin-block-end: 0.25em;
        line-height: 1.2;
      }

      img {
        max-width: 100%;
        background-color: gray;
        margin-block-end: 2em;
        margin-inline: auto;
        border-radius: 0.35em;
        overflow: hidden;
      }
    }
  }
</style>
